<p>test-sliders</p>
<div>
  single
  <div style="display: inline-block; width: 500px" >{{value}}</div>
  <div style="display: inline-block; width: 500px">
    <si-simple-slider [sliderType]="'single'" (onValueChanged)="sliderValueChanged($event)"></si-simple-slider>
  </div>
</div>
<div>
  multi
  <div style="display: inline-block; width: 500px" >
    <div *ngFor="let v of multiValues">{{v}}</div>
  </div>
  <div style="display: inline-block; width: 500px">
    <si-simple-slider [sliderType]="'multi'" (onValuesChanged)="sliderValuesChangedMulti($event)"></si-simple-slider>
  </div>
</div>
<div>
  range
  <div style="display: inline-block; width: 500px" >from: {{rangeFrom}} to: {{rangeTo}}</div>
  <div style="display: inline-block; width: 500px">
    <si-simple-slider [sliderType]="'range'" (onValuesChanged)="sliderValuesChangedRange($event)"></si-simple-slider>
  </div>
</div>
